<ul class="d_resultados" id="d_resultados">
    <li itemscope="" itemtype="http://schema.org/Person">
        <h3>
            <a href="https://www.consultacrm.com.br/index/medicos/uid-81841479-f5c5-11ec-9e74-0a4aa568c625/renato_pereira_campelo" target="_blank"><strong>13628</strong> -
        <span itemprop="name">RENATO PEREIRA CAMPELO</span></a
      >
      <a
        onclick="google('RENATO PEREIRA CAMPELO');"
        title="Ver no Google"
        class="off"
        ><img class="mm" src="design/botao_buscar.png" /> Ver no Google</a
      >
    </h3>
    <span itemprop="memberOf">CRM</span> -
    <span itemprop="workLocation">GO</span><br /><small
      itemprop="jobTitle"
    ></small>
  </li>
</ul>









<!-- SEM RESULTADO -->


<ul class="d_resultados" id="d_resultados"></ul>