.badge-cadastrantes {
    top: 41% !important;
}

.salvar-success {
    color: green;
}

.salvar-error {
    color: red;
}

.campo-smtp {
    font-weight: bold;
}

th {
    background-color: white;
    color: rgb(26, 136, 61);
}

tr {
    background-color: rgb(248, 248, 248);
}

.dataTables_wrapper .dataTables_length select {
    width: 32% !important;
}


/* #container-cash {
    display: contents !important;
} */
#tbl_financeiro_cash > thead > tr > th:nth-child(1) {
    width: 5% !important;
}   


@media only screen and (min-width: 1024px) {
    div.dt-buttons:before {
        content: 'Exportar: ';
    }

    div.dt-buttons {
        float: left;
        padding-left: 3% !important;
        position: relative;
        top: -4px;
        margin-top: 1px;
    }

    #tbl_financeiro_cash td {
        cursor: pointer;
    }

    #tbl_financeiro_cash_wrapper {
        margin-top: 10px;
    }

    /* #container-cash {
        display: contents !important;
    } */
    /* .modal-footer {
        display: contents; 
    } */
  }

  
@media only screen and (max-width: 600px) {
    #tbl_financeiro_cash > tbody > tr > td:nth-child(5),
    #tbl_financeiro_cash > thead > tr > th:nth-child(5) {
        display: block !important;
    }
    
}